<!--@author: Yogesh Ghimire -->
<!-- for each html as indicated by the state, there has to be a controller already defined in the route.js. You register that controller in the module app.controller.js -->
<div class="body">
    <h1>Welcome to <strong>ABCD National Park</strong></h1>
    <img src="{{homeCtrl.imgSrc}}" alt="HOME_IMG">
    <div class="navigation">
        <!--Just two links defined. The ui-sref has to match to the state defined in ui-router -->
        <span ui-sref="plantSection" class="link">Plants & Insect Picture</span>
        <span ui-sref="animalSection" class="link">Animals Picture</span>
        <span ui-sref="plants" class="link">Plant Information Details</span>
        <spinner status="homeCtrl.spinStatus"></spinner>
    </div>
</div>
