/*@author: Yogesh Ghimire*/

.highlight {
    font-weight: bolder;
    color: red;
}

.content {
    color: green;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
}

.content>img {
    padding: 40px;
    color: white;
    background-color: black;
    font-size: 2.4em;
}

#title {
    text-align: center;
    color: blue;
    text-decoration: underline;
}