<!DOCTYPE html>
<html ng-app="serviceApp">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Dependency Injection and Javascript Minification">
    <meta name="keywords" content="HTML, Javascript, AngularJs">
    <meta name="author" content="Yogesh Ghimire">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.min.js"></script>
    <title>Javascript Minification and Dependency Injection</title>
</head>

<body ng-controller="serviceAppController">
    <div>
        <input type="text" ng-model="lowerCaseinput" ng-blur="transformedText();" /> <span>{{lowerCaseinput}}</span> </div>
    <div>
        <input type="text" ng-model="amountInDollar" ng-blur="getCurrency();" /> <span>{{amountInDollar}}</span> </div>
</body>

</html>