/*@author : Yogesh Ghimire*/

.navigation > span {
    padding: 50px;
}

#tigerImg,
#butterflyImg {
    width: 40%;
}

.link:hover {
    color: brown;
    cursor: pointer;
}

.link {
    color: blue;
    text-decoration: underline;
}

#plant,
#insect {
    float: left;
}