/*@author : Yogesh Ghimire*/

.navigation>span {
    padding: 50px;
}

#tigerImg, #butterflyImg {
    width: 40%;
}

.link:hover, #plants:hover {
    color: brown;
    cursor: pointer;
}

.link, #plants {
    color: blue;
    text-decoration: underline;
}

#plant, #insect {
    float: left;
}
