<!DOCTYPE html>
<html ng-app="eventsApp">

<head>
    <meta charset="utf-8">
    <meta name="description" content="First Angular App">
    <meta name="keywords" content="HTML, Javascript, AngularJs">
    <meta name="author" content="Yogesh Ghimire">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Events in AngularJs 1</title>
</head>

<body>
    <div ng-controller="countryCtrller as controller">
        <input type="text" placeholder="Enter country name" ng-model="controller.countryModel">
        <input type="button" value="ADD" ng-click="controller.addCountry(controller.countryModel);"> </div>
</body>
<display-image></display-image>

</html>